<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-3">
    </div>
        <% if (listings.length > 0) { %>
            
                <% listings.forEach(listing => { %>

                    <div class="card col-6 offset-3 search mb-3">
                        <a href="/listing/<%= listing._id %>" class="search-listing">
                            <h4 class="search-title"><%= listing.title %></h4>
                        </a>
                        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
                        <p>&#x20B9; <%= listing.price.toLocaleString("en-IN") %> </p>
                            <p>
                                <%= listing.location %>, <%= listing.country %>
                            </p>
                    

                    </div>
                <% }); %>
            
        <% } else { %>
            <h3>Search Results</h3>
            <div class="col-12 mt-3" >
                <p>No listings found</p>
            </div>
            
        <% } %>
        

        

    </div>


